$dark-nav-color: #2C3840;
$wasabi-green: #719231;
$crete-green: #5F7A2B;
$olivine-green: #A1B874;
$astral-blue: #318C9B;
$copper: #BC712F;
$cape-palliser: #A87646;
$zombie: #E3D797;
$sprout: #CDD9B2;

$cardinal-red: #BF1E2E;
