form {
    label, legend {
        font-family: 'Josefin Slab', serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
    }

    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'],
    [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'],
    [type='color'], textarea {
        border: 0.5px solid #767676;
        box-sizing: border-box;
        border-radius: 2px;
    }
    [type='submit'] {
        margin: 0 auto;
        display: block;
    }

}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0.5px solid #767676;
    border-radius: 2px;
    height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 39px;
    top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px;
}
