.woocommerce-page {
    .main-grid {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
    }
}

.grid-container {
    max-width: $grid-row-width;
    width: 100%;
    // @media (max-width: 1440px) {
    //     max-width: 1320px;
    // }
}

.grid-container {
    &.odd {
        //background-color: palegoldenrod;
    }
    &.even {
        //background-color: peachpuff;
    }
    .fluid {
        width: 100%;
    }
}
