.reveal {
    &.gallery-reveal {
        &.without-overlay {
            padding: 7rem 4rem 4rem;
            @media (max-width: 769px) {
                padding: 7rem 1rem 4rem;
            }
            background: transparent;
        }
        h2, p {
            color: #fff;
        }
        .back-link, .close-button {
            color: #fff;
            &:hover {
                color: #ccc;
            }
        }
    }
}

.slick-area {
    margin: 0 auto;
    @media (min-width: 1281px) {
        max-width: 1024px;
    }
    @media (max-width: 1280px) {
        max-width: 800px;
    }
}

.slick-gallery {

    .slick-slide {
        // box-sizing: border-box;
        // max-height: 578px;
        // position: relative;
        // height: 100vh;
        // @media (max-width: 768px) {
        //     height: 374px;
        // }
        img {
            display: block;
            width: 100%;
            border: 2px solid #FFFFFF;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // height: auto;
        }

    }
}


.slider-thumb {
    margin: 3em auto 0;
    height: auto;
    @media (min-width: 769px) {
        width: 100%;
        max-width: 1024px;
    	height: auto;
    }
    /* the slides */
    .slick-list {
        //margin-left: -16px;
    }
      .slick-slide {
        margin-left: 16px;
        @media (max-width: 768px) {
            // min-width:: 150px !important;
            //margin-left: 16px;
        }
      }
      /* the parent */
      .slick-list {
          @media (max-width: 768px) {
            //height: 105px;
         }
      }
    &.slick-initialized {
        //background-color: palegoldenrod;
    }
    .slick-slide {
        border: 2px solid #72121b;
        &.slick-current {
            border-color: #fff;
        }
        &:hover, &:focus {
            cursor: pointer;
            outline: none !important;
            border-color: #fff;
            @include transition(all,0.5s,ease-out);
        }
    }
    .slick-prev:before, .slick-next:before {
        color: #fff;
        &:hover {
            color: #ccc;
        }
    }
    .slick-next {
        right: -55px;
        &:before {
            font-family: FontAwesome;
            content:  "\f105";
            font-size: 50px;
            line-height: 18px;
        }
    }
    .slick-prev {
        left: -55px;
        &:hover {
            color: #ccc;
        }
        &:before {
            font-family: FontAwesome;
            content: "\f104";
            font-size: 50px;
            line-height: 18px;
        }
    }
}
