.shows-reveal {
    .reveal-title {
        margin-bottom: 43px;
    }
}

.event-calendar {
    .cell {

        align-items: center;
         display: flex;
         justify-content: center;
         padding: 16px 0;
        .cell-inner {
            flex-direction: column;
            display: flex;
        }
        &.text-center {
            justify-content: center;
            align-items: center;
        }
        &.show-title, &.venue, &.tickets {
            @media (min-width: 769px) {
                justify-content: left;
                align-items: center;
            }
            @media (max-width: 639px) {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        &.tickets {
            @media (max-width: 639px) {
                padding-bottom: 3em;
                margin-bottom: 3em;
                border-bottom: 1px solid #ccc;
            }
        }

    }
    .month {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        color: #000000;
        display: block;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    .day {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: normal;
        text-align: center;
        color: #BF1E2E;
        display: block;
    }
    h4 {
        font-family: 'Josefin Slab', serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 25px;
        color: #000000;
        margin-bottom: 6px;
    }
    .event-time, .city-state {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        color: #616161;
    }
    .button {
        margin-bottom: 0;
        color: #000;
        background-color: #fff;
        border: 2px solid #000;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}
