.blog {
    .cards-container {
        .card {
            @media(max-width: 1023px) {
                width: 100%;
                margin-right: 1.75rem;
                margin-left: 1.75rem;    
            }
        }
    }
}
