.reveal {
    &.vlog-reveal {
        &.without-overlay {
            padding: 0;
            background-color: transparent !important;
            height: 100vh;
        }
        &.show-reveal-modal {
            display: block;
        }
        .back-link, .close-button {
            color: #fff;
            &:hover {
                color: #ccc;
            }
        }
    }
}

.vlog-reveal {
    .page-title {
        margin-bottom: 2rem;
        color: #fff;
    }
    .featured-img {
        a {
            img {
                transition: all 0.25s ease-in-out 0s;
                -moz-transition: all 0.25s ease-in-out 0s;
                -webkit-transition: all 0.25s ease-in-out 0s;
                -o-transition: all 0.25s ease-in-out 0s;
            }
            &:hover {
                img {
                    opacity: 0.90;
                }
            }
        }
    }
    .vpost {
        margin-bottom: 2.389em;
        h2 {
            color: #fff;
            font-family: 'Josefin Slab', serif;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 18px;
            margin: 0 0 0.25rem;
            line-height: 30px;
        }
        p {
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 15px;
            font-size: 15px;
            color: #C8C8C8;
        }
    }

    .vmeta {
        .views {
            &:after {
                content: '|';
                color: #fff;
                margin: 0 0.50em;
            }
        }
        .views, .pub-date {
            float: left;
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 0.667em;
            color: #fff;
            line-height: 18px;
        }
    }
    .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        align-items: center;

        .anime-bar {
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 110;
        height: auto;
        padding: 5em 2.5em 3em 2.5em;
    }
    .hidden {
        visibility: hidden;
    }
}
