.mobile-screen {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: rgba(0, 0, 0, 0.25);
	@media (min-width: 1025px) {
		display: none;
	}
}
.home {
	background-color: #000;

}

.parallax-window {

}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.circular-modalbtn-wrapper {
    justify-content: center;
    width: 100px;
    height: 100px;
    display: inline-flex;
    margin-left: 1em;
	align-items: center;
	position: relative;

	.outer-circle {
		width: 100px;
		height: 100px;
		/* float: left; */
		position: absolute;
		background: #d3ced2;
		border-radius: 50%;
	}

	.inner-circle {
		width: 100px;
		height: 100px;
		/* float: left; */
		position: absolute;
		background: #f3f3f3;
		border-radius: 50%;
	}

	.my-show-btn {
		margin: 0 !important;
	}
	.image {
		height: 100px;
		position: absolute;
		background-size: contain;
		@media (max-width: 1280px) {
			height: 75px;
			left: -70px;
			display: none;
		}
	}
}

.photoBtn {
	.outer-circle {
		background: #e82537;
	}

	.inner-circle {
		background: #be1e2d;
	}
}

.vs-section-a {
	overflow: hidden;
	width: 100%;
	height: 980px;

	@media (max-width: 480px) {
		height: 100vh;
		max-height: 768px;
	}
	/* Portrait */
	@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
		height: 100vh;
	}
	/* Landscape */
	@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

	}
	/* Portrait */
	// @media only screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	// 	height: 50vh;
	// }
	min-height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.content-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 1444px;
	height: 100%;
	//background-color: rgba(255,158,203,0.25);
	.content-inner {
		//background-color: rgba(0,0,0,0.25);
		//overflow: hidden;
		z-index: 77;

		@media (min-width: 1281px) {
			max-width: 41.250em;
		}
		@media (min-width: 980px) and (max-width: 1280px) {
			max-width: 31.250em;
			margin: 0 auto;
		}
		@media (max-width: 1024px) {
			max-width: 90%;
			margin: 0 auto;
			padding: 100px 0 0;
			text-align: center;
		}
		@media (max-width:480px) {
			max-width: 100%;
			padding: 50px 2em 0;
		}
	}
	.fm-featured-img {
		position: absolute;
		z-index: 22;
		display: none;
		@media (max-width: 1023px) {
			position: initial;
			bottom: initial;
			right: initial;
			margin: 4em auto 0;
		}
		img {
			display: block;
			vertical-align: bottom;
			max-width: 100%;
			height: auto;
			width: 100%;
		}
	}
}

#home {
	.fm-featured-img {
		 right: 0;
		 max-width: 542px;
		 height: auto;
		 bottom: -150px;
		 width: 100%;
		@media (min-width: 1280px) and (max-width: 1600px) {
			max-width: 425px;
		}
		@media (max-width: 1024px) {
			max-width: 442px;
		}

		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			max-width: 542px;
		}

		@media (max-width: 768px) {
			width: 80%;
			margin: 30px auto 0;
		}
	}

	.content-inner {
		overflow: hidden;
		@media (min-width: 1024px) {
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
			max-width: 550px;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 100%;
			left: 4%;
			right: 4%;
			top: 20%;
		}
		@media (max-width: 480px) {
			padding: 75px 2em 0;
		}
	}

	.hidden {
		visibility: hidden;

	}
}

#who-i-am {
	.fm-featured-img {
		position: absolute;
		max-width: 684px;
		height: auto;
		bottom: 0;
		right: 0;
		width: 100%;
		@media (min-width: 1280px) and (max-width: 1600px) {
			right: 0;
			max-width: 550px
		}
		@media (max-width: 1024px) {
			max-width: 480px;
			height: auto;
		}

		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			max-width: 721px;
		}

		@media (max-width: 480px) {
			max-width: 330px;
			height: auto;
			right: 0;
			margin: 0;
		}
	}
	.content-inner {
		position: absolute;
		left: 0;
		z-index: 3333;
		@media (min-width: 1025px) {
			left: 50px;
			top: calc(50% - 200px);
		}
		@media (max-width: 1024px) {
			position: absolute;
			right: 0;
			left: 0;
			top: 5%;
			text-align: center;
		}
		@media (max-width: 768px) {
			padding-top: 20%;
		}
	}
	.dash-btn {
		display: block;
	}

	.hidden {
		visibility: hidden;
	}

	.hidden.dashes {
		&:before {
			visibility: hidden;
		}
	}
}

#what-i-do {
	.content-inner {
		position: absolute;
		top: 50%;
		text-align: left;
		@media (min-width: 1025px) {
			max-width: 546px;
			right: 50px;
			transform: translateY(-50%);
			margin: 0;
			padding: 0;
		}
		@media (max-width: 1024px) {
			position: absolute;
			padding-left: 2em;
			padding-right: 2em;
			right: 0;
			left: 0;
			top: 0;
			z-index: 222;
			max-width: 41.667em;
			text-align: center;
			transform: initial;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			top: 0;
			left: 0;
			right: 0;
			max-width: 520px;
			text-align: center;
		}
		@media (max-width: 768px) {
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
			width: 100%;
			max-width: 100%;
			padding-top: 20%;
			padding-left: 2em;
			padding-right: 2em;
		}
	}
	.wid-img {
		&.bhi {
			position: absolute;
			max-width: 517px;
			width: 100%;
			height: auto;
			left: -110px;
		    bottom: -149px;
			margin: 0;
			z-index: 1;
			@media (min-width: 1281px) and (max-width: 1600px) {
				max-width: 521px;
			}

			@media (min-width: 769px) and (max-width: 1280px) {
				max-width: 297px;
			    bottom: 61px;
			    left: 16px;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				display: none !important;
			}
			@media (max-width: 768px) {
				display: none !important;
			}
		}
		&.right {
			position: absolute;
			max-width: 521px;
			width: 100%;
			height: auto;
			left: 230px;
			bottom: -66px;
			margin: 0;
			z-index: 2;
			@media (min-width: 1281px) and (max-width: 1600px) {
				max-width: 521px;
			}

			@media (min-width: 481px) and (max-width: 1280px) {
				max-width: 500px;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				max-width: 630px;
			}
			@media (max-width: 480px) {
				width: 274px;
				height: auto;
				left: 95px;
				bottom: 0;
			}
		}
		&.left {
			position: absolute;
			max-width: 395px;
			width: 100%;
			height: auto;
			left: 29px;
			bottom: 0;
			margin: 0;
			z-index: 2;
			@media (min-width: 1281px) and (max-width: 1600px) {
				max-width: 375px;
			}
			@media (min-width: 481px) and (max-width: 1280px) {
				max-width: 365px;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				max-width: 458px;
			}
			@media (max-width: 480px) {
				width: 227px;
				height: auto;
				left: 0;
				bottom: 0;
			}
		}
	}
	.wid-basketball-section {
		position: absolute;
		top: 60%;
		width: calc(150% + 120px);
		left: -120px;
		height: 35%;
		display: flex;
		justify-content: flex-end;
		.img-basketball {
			width: 90px;
			height: 90px;
			border-radius: 100%;
			// box-shadow: 0px 2px 40px 0px #5d5a5a;
		}
	}
	.hidden {
		visibility: hidden;
	}
}

#what-i-am-about {
	.mobile-screen {
			display: none;
	}
	.fm-featured-img {
		position: absolute;
		right: 20px;
		bottom: 100px;
		height: auto;
		width: 100%;
		z-index: 33;
		max-width: 582px;

		@media (min-width: 1025px) and (max-width: 1600px) {
			max-width: 500px;
		}
		@media (max-width: 1024px){
			max-width: 380px;
		}

		@media(max-width: 768px) {
			left: calc(50% - 126px);
			right: initial;
			bottom: 30px;
			max-width: 250px;
			margin: 0 auto;
		}

		// @media (max-width: 1024px){
		// 	position: initial;
		// 	max-width: 300px;
		// 	margin: 0 auto;
		// }

		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			max-width: 60%;
		}

		@media (max-width: 767px) {
			margin: 2em auto 0;

		}
		@media (max-width: 767px) {
			margin: 0 auto;
			max-width: 40%;
		}
		@media (max-width: 480px) {
			max-width: 190px;
			//left: calc(50% - 150px);
			margin: 0 auto;
			width: 100%;
			left: initial;
			position: relative;
		}
		@media (max-width: 320px) {
			max-width: 100px;
		}
	}

	.content-inner {
		@media (min-width: 1024px) {
			position: absolute;
			left: 50px;
			top: calc(50% - 200px);
		}
		@media (min-width: 1024px) {
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
			max-width: 550px;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 100%;
			left: 4%;
			right: 4%;
			top: 20%;
		}
		@media (max-width: 768px) {
			padding-top: 20%;
		}
	}
	h1, p {
		color: #000;
	}
	.dash-btn {
		display: block;
	}

	.hidden {
		visibility: hidden;
	}

	.hidden.dashes {
		&:before {
			visibility: hidden;
		}
	}
}

#my-experiences {
	@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
		background-position: -695px center !important;
	}
	@media (max-width: 768px){
		background-position: -570px center !important;
	}
	@media (max-width: 320px){
		background-position: -445px center !important;
	}
	.parallax-window {
		@media (max-width: 768px) {
			background-position: -450px center !important;
		}
	}
	.fm-featured-img {
		width: 645px;
		height: 679px;
		right: 0;
		bottom: 0;

		@media (max-width: 1024px) {
			position: absolute;
			width: 50%;
			height: auto;
		}
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 80%;
			right: -140px;
		}
		@media (max-width: 768px) {
			width: 80%;
			right: -140px;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	.content-inner {
		left: 0;
		max-width: 38.333em;
		position: absolute;
		max-width: 41.250em;
		left: 50px;
		//top: calc(50% - 200px);
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 1024px) {
			max-width: 27.250em;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 100%;
			left: 4%;
			right: 4%;
			top: 30%;
		}
		@media (max-width: 768px) {
			right: 0;
			left: 0;
			top: calc(50% - 100px);
			text-align: center;
		}
	}
	.dash-btn {
		display: block;
	}

	.hidden {
		visibility: hidden;
	}

	.hidden.dashes {
		&:before {
			visibility: hidden;
		}
	}
}



#book-me  {
	.content-inner {
			position: absolute;
		@media (min-width: 1281px) {
			max-width: 30.25em;

			right: 50px;
			top: calc(50% - 200px);
		}

		@media (min-width: 1025px) and (max-width: 1280px){
			max-width: 31.250em;
			right: 50px;
			top: calc(50% - 200px);
		}

		@media (max-width: 1024px) {
			padding-left: 2em;
			padding-right: 2em;
			right: 0;
			left: 0;
			top: 10%;
			z-index: 222;
			max-width: 41.667em;
			text-align: center;
		}
	}

	.fm-featured-img {
		position: absolute;
		max-width: 867px;
		width: 100%;
		height: auto;
		left: -32px;
		bottom: 0;
		@media (min-width: 1024px) and (max-width: 1280px) {
			width: 50%;
			left: 0;
		}
		@media (max-width: 1024px) {
			left: 0;
			right: 0;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 100%;
			left: 0;
		}
	}
	.dash-btn {
		display: block;
	}

	.hidden {
		visibility: hidden;
	}

	.hidden.dashes {
		&:before {
			visibility: hidden;
		}
	}
}

#follow-me {
	.fm-featured-img {
		@media (min-width: 1024px) {
			position: absolute;
			max-width: 420px;
			height:  auto;
			right:170px;
			top: 12%;
			width: 100%;
		}
		@media (min-width: 980px) and (max-width: 1600px) {
			width: 325px;
		}
		@media (max-width: 1024px) {
			width: 280px;
			//left: 50%;
			top: 15%;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 50%;
			right: 320px;
			top: 38%;
		}

		@media (max-width: 480px) {
			width: 180px;
		}
		@media (max-width: 375px) {
			width: 150px;
		}
		@media (max-width: 320px) {
			width: 124px;
			margin: 2em auto 0;
		}
	}
	.content-inner {
		@media (min-width: 1024px) {
			position: absolute;
			left: 50px;
			top: calc(50% - 200px);
			width: 480px;
		}
		/* Portrait */

		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			width: 100%;
			left: 4%;
			right: 4%;
			top: 10%;
		}
		@media (max-width: 768px) {
			padding-top: 20%;
		}
		// @media (max-width: 1023px) {
		// 	position: initial;
		// 	bottom: initial;
		// 	right: initial;
		// 	left: initial;
		// 	text-align: center;
		// }
	}
	.social-links {
		margin-top: 3.35em;
		@media (max-width: 480px) {
			margin-top: 2.25em;
		}
		@media (max-width: 320px) {
			margin-top: 1.25em;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		li.social-link {
			height: 32px;
			width: 32px;

		}
	}
	@media (max-width: 375px) {
		.social-links-list {
			display: block;
		}
	}
	.social-links-list {
		padding: 0;
		li {
			margin-right: 0.50em;
			@media (max-width: 1024px) {
				display: inline-block;
				float: initial;
			}
			&.social-link {
				a {
					font-size: 1.556em;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.hidden {
		visibility: hidden;
	}
}

#wear-me {
	// .content-inner {
	// 	left: 0;
	// 	max-width: 38.333em;
	// 	position: absolute;
	// 	@media (min-width: 1025px) {
	// 		left: 50px;
	// 		top: calc(50% - 200px);
	// 	}
	// 	@media (max-width: 1024px) {
	// 		right: 0;
	// 		left: 0;
	// 	}
	// 	@media (max-width: 768px) {
	// 		padding-top: 20%;
	// 	}
	// }
	.content-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 424px;
		width: 100%;
		@media (max-width: 1024px) {
			padding-left: 32px;
			padding-right: 32px;
			top: 30%;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			top: 30%;
		}
		h1, p {
			text-align: center;
		}
	}
	.fm-featured-img {
		&.left {
			position: absolute;
			max-width: 483px;
			height: auto;
			left: 0;
			bottom:0;
			width: 100%;
			@media (min-width: 1281px) and (max-width: 1600px) {
				width: 400px;
			}
			@media (max-width: 1280px) {
				max-width: 400px;
			}
			@media (max-width: 1024px) {
				width: 380px;
				height: auto;
				left: -10%;
				bottom: 0;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				left: 0;
			}
			@media (max-width: 480px) {
				display: none !important;
			}

		}
	}

	.fm-featured-img {
		&.right {
			position: absolute;
			max-width: 500px;
			height: auto;
			right: 0;
			bottom: 0;
			width: 100%;
			@media (min-width: 1281px) and (max-width: 1600px) {
				width: 400px;
				bottom: 0;
			}
			@media (max-width: 1024px) {
				width: 380px;
				right: 0;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			    right: 0;
			}

			@media (max-width: 480px) {
				width: 250px;
			}
		}
	}
	// .fm-featured-img {
	// 	position: absolute;
	// 	max-width: 634px;
	// 	width:100%;
	// 	height: auto;
	// 	right: 0;
	// 	top: 51px;
	// 	@media (max-width: 1024px) {
	// 		left: initial;
	// 	    right: -120px;
	// 	   	max-width: 554px;
	// 	    height: auto;
	// 	    bottom: 51px;
	// 	    top: initial;
	// 	}
	// 	/* Portrait */
	// 	@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	// 		max-width: 720px;
	// 	}
	//
	// 	@media (max-width: 1023px) {
	// 		display: none;
	// 	}
	// }
	.dash-btn {
		display: block;
	}

	.hidden {
		visibility: hidden;
	}

	.hidden.dashes {
		&:before {
			visibility: hidden;
		}
	}
}

#contact-me {
	.mobile-screen {
			display: none;
	}
	.fm-featured-img {
		&.left {
			position: absolute;
			max-width: 756px;
			height: auto;
			left: -270px;
			bottom: -40px;
			width: 100%;
			@media (min-width: 1025px) and (max-width: 1600px) {
				position: absolute;
				width: 570px;
				height: auto;
				left: -10%;
				bottom: 0;
			}
			@media (max-width: 1024px) {
				max-width: 430px;
				height: auto;
				left: -17%;
				bottom: 0;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				max-width: 530px;
				top: 30%;
			}
			@media (max-width: 480px) {
				width: 370px;
			}
			@media (max-width: 480px) {
				left: -190px;
				width: 100%;
			}
		}
	}
	.fm-featured-img {
		&.right {
			position: absolute;
			max-width: 710px;
			height: auto;
			right: -200px;
			bottom: -130px;
			width: 100%;
			@media (min-width: 1025px) and (max-width: 1600px) {
				max-width: 550px;
				right: -10%;
				bottom: -100px;
			}
			@media (max-width: 1024px) {
				max-width: 430px;
				right: -10%;
			}
			/* Portrait */
			@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			    right: -55px;
				max-width: 530px;
			}

			@media (max-width: 480px) {
				display: none !important;
			}
		}
	}
	.content-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 424px;
		width: 100%;
		padding-top: 4em;
		@media (max-width: 1024px) {
			padding-left: 32px;
			padding-right: 32px;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
				top: 35%;
		}
		@media (max-width: 768px) {
			top: 2%;
			transform: translate(-50%,0);
		}
	}
	h1, p {
		color: #000;
		text-align: center;
	}
	form {
		margin-top: 50px;
		@media only screen and (max-width: 1024px) {
			margin-top: 50px;
		}
		/* Portrait */
		@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
			margin-top: 50px;
		}
		@media (max-width: 768px) {
			margin-top: 32px;
		}
	}
}
