// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  //@include show-for(small);
}

.desktop-menu,
.site-navigation .top-bar-left {
  display: none;
  //@include hide-for(xxlarge);
}


button.menu-icon {
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    z-index: 999;
    width: 32px;
    height: 32px;
    padding: 20px;
}

//WP Admin Bar
.admin-bar {
    button.menu-icon {
        top: 3em;
        right: 1.5em;
    }
    .js-off-canvas-overlay {
        top: 1.77778rem;
    }
    .off-canvas {
        top: 1.77778rem;
    }
    .off-canvas-content {
        .site-header {
            top: 1.77778rem;
        }
    }
    .mobile-off-canvas-menu {
        &.is-closed {
            @media screen and (min-width: 48.9375em) {
                top: 1.77778rem;
            }
        }
    }
}

.off-canvas-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.top-bar, .top-bar ul {
    @media (max-width: 639px) {
        background-color: #2C3840;
    }
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.site-mobile-title {
    float: left;
}
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
    &.is-open {
        width: 21.111em;
        @media (max-width: 320px) {
                width: 18em;
        }
    }
    background-color: #000;
  > ul.menu {
    @media (min-width: 768px) {
        height: 80vh;
        padding: 4rem 0 1rem;
    }

    @media (max-width: 375px) {
        padding: 2rem 0 2rem;
    }
    a.selected {
        background-color: #464646;
    }
    a {
        font-family: 'Josefin Slab', serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 0.12em;
        color: #FFFFFF;
        padding: 0.778rem 1rem 0.778rem 2.611rem;
        -moz-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
         -webkit-transition: all .2s ease-in;
         transition: all .2s ease-in;
        &:hover {
            color: #BF1E2E;
        }
    }
  }

  //.menu .active > a { background-color: #ccc; }

}




.mobile-menu,
.mobile-off-canvas-menu {

  .menu {
      .is-active {
          > a {
            background-color: transparent;
            &:hover {
                color: #ccc;
            }
          }
      }
  }
}

// Tablet and desktop menu

header {
    &.site-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
}
.top-bar {
    .top-bar-title {
        margin: 1.667rem 1rem 0.5rem 0;
    }
}
.top-bar {
  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.389rem;
    line-height: 1;
    font-family: $header-font-family;
    font-style: normal;
    font-weight: 400;

    &:hover:not(.button) {
      background-color: #42525D;
    }
  }

  .menu .active > a { background-color: #ccc; }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  //.menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.main-nav-bar {
    max-width: $global-width;
    @media (max-width: 1440px) {
        max-width: 1320px;
    }
    @media (max-width: 639px) {
        padding: 0;
    }

}
.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.social-bar {
    max-width: $global-width;
    background-color: #BC712F;
}

.mobile-off-canvas-menu {
    .social-links {
        // position: absolute;
        // bottom: 4em;
        // right: 1em;
        // left: 1em;
    }
    .social-links-list {
        text-align: center;
        @media (max-width: 375px){
            display: block;
        }
        li {
            display: inline-block;
            float: initial;
            margin-right: 0.25em;
        }
    }
    .sidebar-siteinfo-widget {
        // position: absolute;
        // bottom: 3em;
        // right: 1em;
        // left: 1em;
        .widget {
            p {
                font-family: 'Josefin Slab', serif;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 0.778em;
                letter-spacing: 0.12em;
                color: rgba(255, 255, 255, 0.6);
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}
.site-title-bar {
    .social-links-list {
        @media (max-width: 767px) {
            display: none;
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
}
.social-links-list {
    list-style: none;
    margin: 0;
    padding: 0.50em 0;
    overflow: auto;
    @media (max-width: 639px) {
        margin: 0 auto;
        display: table;
    }

    li {
        display: block;
        float: left;
        margin-right: 0.25em;
        &.contact-link {
            a {
                @media(max-width: 639px) {
                    color: #fff;
                    border-radius: 100%;
                    display: block;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                }
            }
        }
        &.social-link {
            a {
                color: #fff;
                border-radius: 100%;
                display: block;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
            }
        }
        a {
            color: #fff;
            font-size: 1em;
            line-height: 2.188rem;
            display: block;
            font-family: $header-font-family;
            font-style: normal;
            font-weight: 400;
            // @include transition (all, 0.24s, ease);
            &:hover {
                color: #ccc;
            }
        }

    }
}

.post-navigation {
    margin-top: 4em;
    margin-bottom: 2em;
}
.prev-next-nav {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 3%;
    bottom: auto;
    display: block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vs-vertical-nav {
  list-style: none;
  a {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    white-space: nowrap;
    text-indent: 100%;
    background: url('/wp-content/themes/franklin-theme/src/assets/images/cd-icon-arrow.svg') #ccc no-repeat center center;
    &.vs-prev {
      margin-bottom: 10px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

}
