.footer-grid {
    .widget {
        color: #fff;
        position: relative;
        padding: 3.333em 4.444em;
        h6 {
            font-size: 2.222em;
            color: #fff;
        }
        p {
            color: #fff;
        }
        &:first-child {
            padding-left:0;
        }
        &:last-child {
            padding-right:0;
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 100%;
            width: 2px;
            background-color: #fff;
        }
    }
}

.widget_product_search button.button {
    margin-left: 10px;
}

.widget {
    margin-bottom: 2.75em;
    form [type='search'] {
        margin-top: 0;
        background-color: #EDEDED;
    }


    h6 {
        color: $cardinal-red;
        font-family: 'Josefin Slab', serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 20px;
        border-bottom: 1px dashed #000000;
        padding-bottom: 10px;
        text-transform: capitalize;
        margin-bottom: 1em;
    }
    a {
        color: #000000;
        &:hover {
            color: $cardinal-red;
        }
    }
}
