
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #000;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: $cardinal-red;
}

.woocommerce {

}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: $cardinal-red;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    color: $cardinal-red;
    padding: 1em;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: none;
}


.woocommerce-product-details__short-description p {
    font-family: 'Josefin Sans', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
}
.woocommerce {
    ul {
        &.products {
            li {
                &.product {
                    text-align: center;
                    .woocommerce-loop-product__title {
                        color: $cardinal-red;
                        font-family: 'Josefin Slab', serif;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        font-size: 20px;
                        text-align: center;
                    }
                    .price {
                        color: #777777;
                        font-family: Josefin Slab;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center
                    }
                    .onsale {
                        background-color: $cardinal-red;
                        min-height: initial;
                        padding: initial;
                    }
                    img {
                        border: 1px solid #E3E3E3;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}
.woocommerce div.product form.cart table.variations {
    border: none;
    tbody {
        border: none;
        background-color: transparent;
        tr:nth-child(even) {
            border: none;
            background-color: transparent;
        }
    }
}

.woocommerce, .woocommerce-page {
    nav.woocommerce-breadcrumb {
        margin: 0 0 3em;
        color: #000;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        a {
            color: #8D8D8D;
            &:hover {
                color: $cardinal-red;
            }
        }
    }
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    border: 4px solid #ccc;
}

.woocommerce-product-details__short-description {
    margin-bottom: 115px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-family: Josefin Slab;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    color: $cardinal-red;
}

.woocommerce span.onsale {
    background-color: $cardinal-red;
    min-height: initial;
    padding: initial;
}


.site-header-cart {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    margin-bottom: 32px;
}

.site-header-cart .cart-contents {
    display: none
}

.site-header-cart .widget_shopping_cart {
    display: none
}

.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
    margin: 1.41575em
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    padding: 0.7rem 1rem;
    color: #000000;
    &:hover {
        color: $cardinal-red
    }
}

.site-header-cart .widget_shopping_cart .product_list_widget img,
.widget.widget_shopping_cart .product_list_widget img {
    border: 2px solid #CFCFCF;
    border-radius: 2px;
}
.site-header-cart .widget_shopping_cart .product_list_widget span.quantity,
.widget.widget_shopping_cart .product_list_widget span.quantity {
    margin-left: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #8D8D8D;
}

.site-header-cart {
        position: relative
    }
    .site-header-cart .cart-contents {
        padding: 1.618em 0;
        display: block;
        position: relative;
        background-color: transparent;
        height: auto;
        width: auto;
        text-indent: 0
    }
    .site-header-cart .cart-contents .amount, .widget.widget_shopping_cart .cart-contents .amount {
        color: #000;
        margin-right: .327em;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
    }
    .site-header-cart .cart-contents .count, .widget.widget_shopping_cart .cart-contents .count {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: #8D8D8D;
        opacity: 1;
    }
    .site-header-cart .cart-contents span {
        display: inline
    }
    .site-header-cart .widget_shopping_cart {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
        font-size: .875em;
        left: -999em;
        display: block
    }
    .site-header-cart .widget_shopping_cart.sub-menu--is-touch-device {
        display: none;
        left: 0
    }

    .site-header-cart .widget_shopping_cart .cart_list li, .widget.widget_shopping_cart .cart_list li {
        background-color: #fff;
        padding-left: 2em;
    }
    .site-header-cart  .widget_shopping_cart .buttons a, .widget.widget_shopping_cart .buttons a {
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 16px 23px;
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        text-align: center;
        text-transform: capitalize;
    }
    .site-header-cart .widget_shopping_cart h2.widgettitle {
        display: none
    }
    // .site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
    //     position: relative;
    //     float: left;
    //     top: auto
    // }
    .site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before {
        text-align: left
    }
    .site-header-cart.focus .widget_shopping_cart,
    .site-header-cart:hover .widget_shopping_cart {
        left: 0;
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    }
    .site-header-cart {
        width: 100%;
    }
    .site-header-cart li {
        width: 100%;
        display: block;
    }
    @media (min-width: 768px) {
        .site-header-cart .cart-contents {
            padding: 1.618em 0;
            display: block;
            position: relative;
            background-color: transparent;
            height: auto;
            width: auto;
            text-indent: 0;
        }

        .site-header-cart .cart-contents:after, .widget_shopping_cart .cart-contents:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 1;
            vertical-align: -.125em;
            font-family: 'fontAwesome';
            font-weight: 900;
            line-height: inherit;
            vertical-align: baseline;
            content: "\f291";
            height: 1em;
            float: right;
            line-height: 1.618;
            color: #000;
        }

        .site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before,
        .widget.woocommerce.widget_shopping_cart .widget_shopping_cart .product_list_widget li a.remove:before{
            text-align: left;
        }
        .site-header-cart .cart-contents:after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 1;
            vertical-align: -.125em;
            font-family: 'fontAwesome';
            font-weight: 900;
            line-height: inherit;
            vertical-align: baseline;
            content: "\f291";
            height: 1em;
            float: right;
            line-height: 1.618;
        }

    }
.woocommerce.widget_shopping_cart {
    padding-top: 1em;
}

.site-header-cart .woocommerce.widget_shopping_cart li a.remove, .widget.woocommerce.widget_shopping_cart li a.remove {
    color: #fff !important;
    background: $cardinal-red;
    padding: 0;
    line-height: 16px;
    text-align: center;
    width: 17px;
    font-size: 16px;
    display: block;
    top: 22px;
    left: 16px;
    height: 18px;
    &:hover {
        background-color: #990000;
        color: #fff;
    }
}

.site-header-cart  .woocommerce-mini-cart__total.total,  .widget.woocommerce.widget_shopping_cart .woocommerce-mini-cart__total.total {
    border: none;
    text-align: center;
    padding: 1em 1em 1em;
    background: #F3F3F3;
    margin: 2em 0.75em 0;
}
.site-header-cart .woocommerce-mini-cart__buttons.buttons, .widget.woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons.buttons {
    padding: 0 1em 1em;
    background: #F3F3F3;
    margin: 0 0.75em 0.75em;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    vertical-align: baseline;
    line-height: 20px;
}

a.reset_variations {
    color: $cardinal-red;
    &:hover {
        color: #990000;
    }
}
.woocommerce div.product form.cart .variations select {
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.woocommerce-variation-price {
    margin-bottom: 1em;
}

.woocommerce div.product form.cart .variations label {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #000000;
}

.woocommerce div.product form.cart .variations td.label {
    background: transparent;
}

section.related.products {
    width: 100%;
    clear: both;
    padding-top: 2rem;
    h2 {
        margin-bottom: 2rem;
    }
}


#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
    table {
        &.cart {
            img {
                width: 100px;
                border: 2px solid #CFCFCF;
                border-radius: 2px;
            }
        }
        td {
            .woocommerce-Price-amount {
                color: #8D8D8D;
            }
            &.product-name {
                a {
                        font-family: 'Josefin Sans', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 18px;
                        padding: 0.7rem 1rem;
                        color: #000000;
                        &:hover {
                            color: #BF1E2E;
                        }
                }
            }
        }
    }
}

.woocommerce table.shop_table tbody tr th {
    background-color: #F3F3F3;
    padding: 18px 18px 18px 20px;
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
}

.cart_totals h2 {
    margin-bottom: 25px;
}

.woocommerce {
    table {
        &.shop_table {
            border: none;
            border-radius: 0;
            border-collapse: collapse;
            th {
                background-color: #F3F3F3;
                font-family: 'Josefin Slab', serif;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 20px;
                padding: 22px 22px 14px;
            }
            td {
                font-family: 'Josefin Sans', serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                color: #8D8D8D;
            }
            .product-quantity {
                color: #000;
            }
        }
        thead, tbody, tfoot {
            border: none;
            background-color: #ffffff;
        }
    }
}

#add_payment_method table td .woocommerce-Price-amount, .woocommerce-cart table td .woocommerce-Price-amount, .woocommerce-checkout table td .woocommerce-Price-amount {
    color: #8D8D8D;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

.woocommerce ul#shipping_method .amount {
    font-weight: normal;
}

.woocommerce table.shop_table tbody tr td {
    background-color: #FBFBFB;
    padding: 18px 18px 18px 20px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    margin-top: 68px;
}

#add_payment_method .cart-collaterals .shipping-calculator-button, .woocommerce-cart .cart-collaterals .shipping-calculator-button, .woocommerce-checkout .cart-collaterals .shipping-calculator-button {
    color: #000;
    &:hover {
        color: #BF1E2E;
    }
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 180px;
    height: 42px;
}

h3#order_review_heading {
    margin-top: 62px;
    margin-bottom: 16px;
}

.woocommerce-info {
    &:before {
        color: $cardinal-red;
    }
    border-top-color: $cardinal-red;
    a {
        color: $cardinal-red;
        &:hover {
            color: #000;
        }
    }
}
