.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
.button {
    font-weight: 600;
}


input {
    &.wpcf7-submit {
        border: 4px solid #E82537;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: url('/wp-content/themes/franklin-theme/dist/assets/images/send.png') #BE1E2D no-repeat;
        background-position: center;
        background-size: 27px auto;
        color: #fff;
        border-radius: 50%;
        width: 57px;
        height: 57px;
        position: relative;
        text-indent: -100px;
        &:hover {
            background-color: #c43442;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

#showsBtn {
    @include retina('/wp-content/themes/franklin-theme/dist/assets/images/microphone.png', 2, 32px auto, center center no-repeat #fff);
    border: 8px solid #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    color: #fff;
    border-radius: 50%;
    float: left;
    width: 98px;
    height: 98px;
    position: relative;
    text-indent: -400px;
    margin: 0 0 0 1em;
    overflow: hidden;
    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        transform: scale(1.1);
    }
}

#bookMeBtn {
    @include retina('/wp-content/themes/franklin-theme/dist/assets/images/calendar.png', 2, 51px auto, center center no-repeat #fff);
    border: 8px solid #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    color: #fff;
    border-radius: 50%;
    float: left;
    width: 98px;
    height: 98px;
    position: relative;
    text-indent: -400px;
    margin: 0 0 0 1em;
    overflow: hidden;
    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        transform: scale(1.1);
    }
}

#storeBtn {
    @include retina('/wp-content/themes/franklin-theme/dist/assets/images/wearme_black.png', 2, 32px auto, center center no-repeat #fff);
    border: 8px solid #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    color: #fff;
    border-radius: 50%;
    float: left;
    width: 98px;
    height: 98px;
    position: relative;
    text-indent: -400px;
    margin: 0 0 0 1em;
    overflow: hidden;
    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        transform: scale(1.1);
    }
}


#photoBtn {
    @include retina('/wp-content/themes/franklin-theme/dist/assets/images/postcards.png', 2, 54px auto, center center no-repeat #BE1E2D);
    border: 8px solid #E82537;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //background: url('/wp-content/themes/franklin-theme/dist/assets/images/postcards.png')  no-repeat;
    background-color: #BE1E2D;
    background-position: center;
    color: #fff;
    border-radius: 50%;
    float: left;
    width: 98px;
    height: 98px;
    position: relative;
    text-indent: -400px;
    margin: 0;
    overflow: hidden;
    &:hover {
        background-color: #c43442;
        cursor: pointer;
        transform: scale(1.1);
    }
}

#vlogModalBtn {
    @include retina('/wp-content/themes/franklin-theme/dist/assets/images/camera.png', 2, 75px auto, center center no-repeat);
    border: 8px solid transparent;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    background-position: center;
    color: #fff;
    border-radius: 50%;
    float: left;
    width: 98px;
    height: 98px;
    position: relative;
    text-indent: -400px;
    overflow: hidden;
    margin: 0;
    vertical-align: bottom;
    &:hover {
        background-color: transparent;
        cursor: pointer;
        transform: scale(1.1);
    }
}

.next-page {
    position: absolute;
    top: 90vh;
    left: 0;
    right: 0;
    text-align: center;
}

.learn-more {
    background-color: transparent;
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    margin: 0;
    position: relative;
    transition: all .2s ease-in-out;
    &:hover, &:focus {
        background-color: transparent;
        cursor: pointer;
        transform: scale(1.1);
    }
    &:after {
        @include retina('/wp-content/themes/franklin-theme/dist/assets/images/arrow-down.png', 2, 14px auto, center center no-repeat transparent);
        content: '';
        display: block;
        width: 14px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
    }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #000;
    padding: 13px 12px 13px 12px;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: #4c4c4c;
    color: #cccccc;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #000;
    padding: 13px 12px 13px 12px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #4c4c4c;
    color: #cccccc;
}


.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #000;
    color: #fff;
}

.woocommerce .posted_in a {
    color: $cardinal-red;
}
.woocommerce .posted_in a:hover {
    color: #000;
}



.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: #fff;
    opacity: .5;
    padding: 13px 12px 13px 12px;
}
