.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 2, true, 3.500rem );

    }

    @include breakpoint(large) {
      @include xy-cell(3, true, 2rem );

    }


  }
}

.blog, .archive {
    .cards-container {
        .card {
            flex-grow: 0;
            justify-content: left;
            margin-bottom: 2rem;
            a {
                color: $wasabi-green;
                &:hover {
                    color: $copper;
                }
            }
            img.attachment-fp-xsmall {
                width: 100%;
            }
        }
    }

}
