.dotted {
  border-style: dashed;
  margin: 2rem 0;
}



.link-section {
    margin-top: 4em;
    @media (max-width: 1024px){
        text-align: center;
    }
    @media (max-width: 767px){
        margin-top: 1em;
    }
    p {
        float: left;
        margin: 2.5em 4em 0 0;
        @media (max-width: 1024px){
            width: 100%;
            margin: 1em 0 2em;
        }
    }
    a {
        @media (max-width: 1024px){
            text-align: center !important;
            margin: 0 auto !important;
            float: initial !important;
        }
    }
    overflow: visible;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}
.dashes {
    position: relative;
    &.blk {
        .dividers {
            color: #000;
        }
    }
    // &.short {
    //     &:before {
    //         content: '>> ------------------------';
    //     }
    // }
    & > p {
        min-width: 220px;
    }
    // &:before {
    //     content: '>> ---------------------------------------------------------';
    //     font-family: 'Josefin Slab', serif;
    //     color: #fff;
    //     position: absolute;
    //     letter-spacing: -1px;
    //     visibility: visible;
    //     top: 1em;
    //     left: 0;
    //     @media (max-width: 1024px){
    //         position: initial;
    //         top: initial;
    //         left: initial;
    //         width: 100%;
    //         display: none;
    //     }
    // }
    .dividers {
        font-family: 'Josefin Slab', serif;
        color: #fff;
        position: absolute;
        letter-spacing: -1px;
        visibility: visible;
        top: 1em;
        left: 0;
        @media (max-width: 1024px){
            position: initial;
            top: initial;
            left: initial;
            width: 100%;
            display: none;
        }
    }
}
