.featured-hero, .caption-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: rem-calc(686);

  @include breakpoint(medium) {
    height: rem-calc(686);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(686);
  }
}
.featured-hero {
    .dark-filter {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(44,49,39, 0.45);
        z-index: 22;
    }
}

.featured-hero {
    .white-curve {
        background-image: url('/wp-content/themes/FoundationPress-devine/src/assets/images/white_curve.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        position: absolute;
        height: 120px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 33;
        @media (max-width: 680px) {
            height: 60px;
        }
    }
}
.blog {
    .featured-hero {
        .white-curve {
            @media (max-width: 680px) {
                height: 60px;
            }
        }
    }
}

.featured-hero {
    .caption-container {
        max-width: $global-width;
        @media (max-width: 1440px) {
            max-width: 1320px;
        }
        padding-right: 0.83333rem;
        padding-left: 0.83333rem;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
    .caption {
        position: absolute;
        z-index: 44;
        padding-right: 1rem;
        padding-left: 1rem;
        max-width: 1024px;
        width: 100%;
        &.left-cpt {

            top: 50%;
            left: 0;
            transform: translateY(-50%);
            .lead {
                text-align: left;
            }
            h5 {
                &:before, &:after {
                    display: none;
                }
            }
        }
        &.center-cpt {
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .lead {
                margin: 0 auto 3.056em;
            }
        }
        @media (max-width: 480px) {
            padding-top: 4em;
        }
        h1 {
            color: #fff;
            font-size: 5.111em;
            line-height: 5rem;
            @media (max-width: 680px) {
                font-size: 2.5em;
                line-height: 2.75rem;
            }
        }
        h5 {
            color: #fff;
            display: inline-block;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.111em;
            position: relative;
            font-weight: normal;
            &:before {
                content: "";
                width: 150px;
                top: 50%;
                transform: translateY(-50%);
                left: -180px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                @media (max-width: 680px) {
                    display: none;
                }
            }
            &:after {
                content: "";
                width: 150px;
                top: 50%;
                transform: translateY(-50%);
                right: -180px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                @media (max-width: 680px) {
                    display: none;
                }
            }
        }
        .lead {
            font-family: $header-font-family;
            font-size: 1em;
            color: #fff;

            max-width: 910px;
            width: 100%;
            @media (max-width: 768px){
              max-width: 680px;
            }
        }
    }
}
.featured-hero {
    .post-cats {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin: 1em;
            a {
                color: #fff;
                font-family: $header-font-family;
                font-weight: 600;
                font-size: 1.667em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.home {
    .featured-hero, .caption-container {
      height: rem-calc(680);

      @include breakpoint(medium) {
        height: rem-calc(880);
      }

      @include breakpoint(xlarge) {
        height: rem-calc(1134);
      }
    }
}
