/*

Copyright © David Bushell | @dbushell | http://dbushell.com

*/

.fm--hinge-in {
    @include mui-hinge(
        $state: in,
        $from: bottom,
        $axis: center,
        $fade: false,
        $timing: map-get($motion-ui-easings, easeInSine)
    );
}

.fm--hinge-out {
    @include mui-hinge(
        $state: out,
        $from: bottom,
        $axis: center,
        $fade: false,
        $timing: map-get($motion-ui-easings,easeOutSine)
    );
}


// .hinge-in {
//     //@include mui-animation(slide, fade, spin(120deg));
//     @include mui-hinge(
//         $state: in,
//         $from: top,
//         $axis: center,
//         $fade: false,
//         $timing: map-get($motion-ui-easings, bounceInOut)
//     );
// }
//
// .hinge-out {
//     @include mui-hinge(
//         $state: out,
//         $from: top,
//         $axis: center,
//         $fade: true,
//         $timing: map-get($motion-ui-easings, bounceInOut)
//     );
// }
.reveal {
        @media (max-width:768px) {
            top: 0 !important;
        }
}

.reveal {
    &.vlog-reveal {
        &.without-overlay {
            background: #000;
        }
        .back-link, .close-button {
            color: #fff;
            &:hover {
                color: #ccc;
            }
        }
    }
}

.reveal {
    &.store {
        &.without-overlay {
            padding: 7em 4em 4em;
            background: linear-gradient(179.93deg, #BF1E2E -55.61%, #971421 101.03%);
        }
        h2 {
            color: #000;
        }
    }
}
.reveal {
    &.book-me-reveal {
        &.without-overlay {
            background: #E9E9E9;
            padding: 7em 4em 4em;
        }
        h2 {
            color: #000;
        }
    }
}

.reveal {
    &.shows-reveal {
        &.without-overlay {
            @media (min-width: 1281px) {
                padding: 7em 4em 4em;
                background: transparent;
            }
            @media (max-width: 1280px) {
                padding: 7em 4em 4em;
                background: #f2f2f2;
                .large-9 {
                    width: 100%;
                }
                .large-3, .large-9 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            @media (max-width:768px) {
                padding: 4em 2em 2em;
            }
        }
        h2 {
            color: #000;
        }
    }
}

.mui-enter {
    //border-radius: 50%;
}

// @keyframes leaves {
//     0% {
//         transform: scale(0.0);
//         -webkit-transform: scale(01.0);
//     }
//     100% {
//         transform: scale(1.0);
//         -webkit-transform: scale(1.0);
//     }
// }
//
// @keyframes enters {
//     0% {
//         transform: scale(0.0);
//         -webkit-transform: scale(0.0);
//         clip-path: circle(50% at 50% 50%);
//
//     }
//     100% {
//         transform: scale(1.0);
//         -webkit-transform: scale(1.0);
//         clip-path: circle(50% at 50% 50%);
//
//     }
// }

.shows-reveal {
    animation: enters 1s ease-in-out;
    -webkit-animation: enters 1s ease-in-out;
}
.scale-out-down.mui-leave.mui-leave-active {
    animation: leaves 1s ease-in-out;
    -webkit-animation: leaves 1s ease-in-out;
}

.admin-bar {
    .reveal {
        a.back-link, .close-button {
            @media (max-width: 782px) {
                top: 3.5rem;
            }
        }
    }
}
.reveal {
    .reveal-title {
        @media (max-width: 768px) {
            padding-top: 1.25em;
            text-align: center;
        }
    }
    a.back-link {
        font-family: Amatic SC;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.09em;
        color: #000000;
        position: absolute;
        @media (min-width: 769px) {
            top: 2.5rem;
            left: 2.5rem;
        }
        @media (max-width: 768px) {
            top: 1.5rem;
            left: 1.5rem;
        }
        display: block;
    }
    .close-button {

        font-size: 2em;
        line-height: 1;

        font-family: 'Josefin Slab', serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 16px;
        color: #000000;
        @media (min-width: 769px) {
            right: 2.5rem;
            top: 2.5rem;
        }
        @media (max-width: 768px) {
            right: 1.5rem;
            top: 1.5rem;
        }
        span {
            display: inline-block;
            vertical-align: baseline;
        }
        span.close-icon {
            font-size: 2rem;
            line-height: inherit;
            line-height: 0;
        }
    }
}
