$slick-font-path: "../../../node_modules/slick-carousel/slick/fonts/";
$slick-loader-path: "../../../node_modules/slick-carousel/slick/";
$slick-arrow-color: #000;

// $slick-font-path	//string	"./fonts/"	Directory path for the slick icon font
// $slick-font-family	//string	"slick"	Font-family for slick icon font
// $slick-loader-path	//string	"./"	Directory path for the loader image
// $slick-arrow-color	//color	white	Color of the left/right arrow icons
// $slick-dot-color	//color	black	Color of the navigation dots
// $slick-dot-color-active	//color
// $slick-dot-color	//Color of the active navigation dot
// $slick-prev-character	//string	'\2190'	Unicode character code for the previous arrow icon
// $slick-next-character	//string	'\2192'	Unicode character code for the next arrow icon
// $slick-dot-character	//string	'\2022'	Unicode character code for the navigation dot icon
// $slick-dot-size	//pixels	6px	Size of the navigation dots
@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

.slick-next {
    right: 75px;
    z-index: 99;
}
.slick-prev {
    left: 75px;
    z-index: 99;
}

@media (max-width: 639px) {
    .slick-prev, .slick-next {
        display: none !important;
    }
}
