.title-bar {
    background: transparent;
    .menu-icon {
       float: right;
       margin-left: 1rem;
       margin-right: 1em;
       margin-top: 0.5rem;
       margin-bottom: 0.5rem;
   }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.admin-bar {
    .title-bar {
        position: relative;
        .site-title {
            @media (max-width: 375px) {
                top: 51px;
            }
        }
    }
}

.title-bar {
    position: relative;
    .site-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @media (max-width:480px) {
            top: 1.25em;
            position: fixed;
            transform: translateX(-50%);
        }
        @media (max-width: 375px) {
            transform: initial;
            left: 1em;
        }
        a {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.12em;
            color: #fff;
        }
    }
}

.page, .search, .woocommerce, .single,  {
    .off-canvas-content {
        padding-top: 8em;
    }
    header.site-header {
        background-color: #fff;
    }
    .social-links-list li.social-link a {
        color: #000;
    }
    .title-bar .site-title a {
        color: #000;
    }
    .menu-icon {
        &::after {
            background: #000;
            box-shadow: 0 7px 0 #000, 0 14px 0 #000;
        }
    }
    .is-open-right {
        .menu-icon {
            &::after {
                background: #fff;
                box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
            }
        }
    }
    .menu-icon[aria-expanded="true"]{
        &::after {
            background: #fff;
            box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
        }
    }
}
