.main-parallax {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    p, p.lead {
        color: #fff;
    }
}


h1 {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 3.750em;
    color: #000000;
    @media (max-width: 480px) {
        font-size: 1.833em;
    }
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 2.500em;
    line-height: 57px;
    color: #000000;
}
h3 {
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 1.667em;
    color: #000000;
}
h4 {
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 1.389em;
    color: #000000;
}
h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1em;
    color: #000000;
}

p {
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size:1.111em;
    color: #000000;
    @media (max-width: 480px) {
        font-size: 0.889em;
    }
}

p.lead {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.111em;
    color: #000000;
    @media (max-width: 480px) {
        font-size: 0.889em;
    }
}

a {
    outline: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #898989;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #898989;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #898989;
}
:-moz-placeholder { /* Firefox 18- */
  color: #898989;
}
